{% extends 'greetbase.html' %} {% load static %} {% block content %}
<div
  class="row align-items-center text-center mx-5 px-md-4 d-flex justify-content-center"
>
  <div class="col d-flex justify-content-center">
    <img src="{% static 'imgs/patient-small.png'%}" style="max-height: 525px" />
  </div>

  <div class="col d-flex justify-content-center my-5">
    <div class="shadow p-2 p-sm-3" style="width: 100%">
      <form class="my-4">
        <div class="row mb-5 d-flex flex-wrap justify-content-center">
          <div class="col-lg-4">
            <label for="paitient-tel" class="form-label">Phone Number</label>
          </div>
          <div class="col-lg-8">
            <input
              type="tel"
              class="form-control"
              id="paitient-tel"
              aria-describedby="emailHelp"
            />
          </div>
        </div>
        <div class="row mb-5 d-flex flex-wrap justify-content-center">
          <div class="col-lg-4 d-flex justify-content-center">
            <label
              for="paitient-password"
              class="col form-label d-flex justify-content-center"
              style="width: 50%"
              >Password</label
            >
          </div>
          <div class="col-lg-8">
            <input
              type="password"
              class="col form-control"
              id="paitient-password"
            />
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
