[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-phone-field = "*"
django-phonenumber-field = "*"
phonenumbers = "*"
django-bootstrap-datepicker-plus = "*"

[dev-packages]

[requires]
python_version = "3.11"
