{% extends 'greetbase.html' %} {% load static %} {% block content %}
<div
  class="row align-items-center text-center mx-md-5 p-md-4 d-flex justify-content-center"
>
  <div class="col d-flex justify-content-center">
    <img src="{% static 'imgs/admin.svg'%}" style="max-height: 250px; max-width:200px" />
  </div>

  <div class="col d-flex justify-content-center my-5">
    <div class="shadow p-2 p-sm-3" style="width: 100%">
      <form class="my-4" method="POST">
        
        {% if login_form.non_field_errors %}
        <div
          class="alert alert-warning alert-dismissible fade show"
          role="alert"
        >
        
          <small>{{ login_form.non_field_errors }}</small>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
        {% endif %}
        {% csrf_token %} {% for field in login_form %}
        <div class="row mb-5 d-flex flex-wrap justify-content-center">
          <div class="col-lg-4">
            <label class="form-label">{{field.label_tag}}</label>
          </div>
          <div class="col w-100">{{ field }}</div>
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Sign in</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
