{% extends 'adminbase.html' %} 
{% load static %}
{% block content %}
<div class="row m-2">
  <div class="d-flex justify-content-center text-center fs-1 my-4">
    What do you want to do?
  </div>
</div>
<div class="row align-items-center text-center mx-5 px-5 d-flex justify-content-center">
  <div class="col p-4 d-flex justify-content-center">
    <!-- for now i have used the a tag -->
    <a href="{% url 'plist' %}" class="btn" style="width: fit-content">
      <div class="border">
        <div class="text-bg-primary py-3 h-5">SEE ALL PATIENTS</div>
        <div>
          <img src="{% static 'imgs/doctors.svg' %}" style="height: 180px; max-width: 180px" />
        </div>
      </div>
    </a>
  </div>

  <div class="col p-4 d-flex justify-content-center">
    <!-- for now i have used the a tag -->
    <a href="{% url 'psignup' %}" class="btn" style="width: fit-content">
      <div class="border">
        <div class="text-bg-primary py-3 h-5">ADD A PATIENT</div>
        <div>
          <img src="{% static 'imgs/appointments.svg' %}" style="height: 180px; max-width: 180px" />
        </div>
      </div>
    </a>
  </div>
</div>
{% endblock %}